body{
background: rgba(66, 194, 145, 0.623);
font: normal 15pt Arial;
}
header{
color: white;
text-align: center;
}
section{
    
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.541);
}

div {
text-align: center;
}

footer{
text-align: center;
color: white;
font-style: italic;

}